{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>SafeSphere | Login</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

<link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body style="background:linear-gradient(135deg,#dbeafe,#f8fbff);">

<div class="container">

<div class="row justify-content-center align-items-center" style="min-height:100vh;">

<div class="col-md-5">

<div class="card shadow-lg border-0 p-5">

<div class="text-center">

<h1 style="font-size:70px;">🛡️</h1>

<h2 class="fw-bold text-primary">

SafeSphere

</h2>

<p class="text-muted">

Smart Emergency Response System

</p>

</div>

{% if error %}

<div class="alert alert-danger mt-3">

{{ error }}

</div>

{% endif %}

<form method="POST">

{% csrf_token %}

<div class="mb-3">

<label class="form-label fw-bold">

Email Address

</label>

<input
type="email"
name="email"
class="form-control"
placeholder="Enter your email"
required>

</div>

<div class="mb-4">

<label class="form-label fw-bold">

Password

</label>

<input
type="password"
name="password"
class="form-control"
placeholder="Enter your password"
required>

</div>

<button
type="submit"
class="btn btn-primary w-100">

🔐 Login

</button>

</form>

<hr>

<p class="text-center">

Don't have an account?

<a href="/register/" class="fw-bold">

Register

</a>

</p>

<div class="text-center">

<a href="/" class="btn btn-outline-dark">

🏠 Back Home

</a>

</div>

</div>

</div>

</div>

</div>

</body>

</html>